@{
    ViewBag.Title = "Oristech.OrisRev2.Web";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-group panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Open Cases</h3>
                </div>
                <div class="panel-body">
                    <div id="OpenCasediv"></div>
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                    Info about open cases.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-group panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Completed Cases</h3>
                </div>
                <div class="panel-body">
                    <div id="Completeddiv"></div>
                    Completed CasesCompleted Cases.
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                    Completed CasesCompleted Cases
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-group panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Documentation</h3>
                </div>
                <div class="panel-body">
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                    DocumentationDocumentation.
                </div>
            </div>
        </div>
    </div>
</div>
